.section-header{
    margin-bottom: 4rem;
    font-family: var(--font-title);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #EEE;

    hr{
        width: 5rem;
        border: 1px solid #EEE;
    }
}